#header {
    width: 100%;
    text-align: center;
}

#searchPanel {
    float: left;
}

#mainPanel {
    float: right;
}

#searchPanel,
#searchClick
{
    background-color: lightblue;

}
#list {
    margin: 10px;
}
.dayPanel {
    float: left;
    width: 150px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px;
    background-color: cadetblue;
}