body {
    background-color: rgb(60,155,235);
    background-image: url("pexels-elia-clerici-912110.jpg");
}

#container {
    background-color:rgb(60,155,235);
}

#header {
    width: 100%;
    padding: 15px;
    color:rgb(254, 233, 83);
    text-align: center;
}

#searchPanel {
    float: left;
    background-color: rgb(97,176,245);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
#searchBtn {
    color: rgb(254, 233, 83);
}
#searchInput {
    margin: 10px;
}

#mainPanel {
    float: right;
    background-color: rgb(223, 234, 243);
    border-color: lightgray;
}

#cityPanel {
    background-color: whitesmoke;
    border-radius: 10px;
    margin:10px;
    padding:15px;
}

#clear-button {
    margin-top: 10px;
}

#searchPanel,
#searchClick
{
    background-color:rgb(176,182,189);
    padding-left: 15px;

}
#list {
    margin: 10px;
    background-color: rgb(62,97,143);
}
.list-group-item {
    background-color: rgb(62,97,143);
}
.dayPanel {
    float: left;
    width: 150px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    padding:5px;
    background-color: rgb(51,88,122);
    color: whitesmoke;
}